// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background: #ffffff;
  font-family: "Arial";
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.integration-divider {
  padding-top: 5vh;
}

.title {
  font-size: 36px;
  font-weight: 600;
  color: #033156;
  white-space: pre-line;
  text-align: center;
  line-height: 44px;
}

.subtitle {
  margin-bottom: 20px;
  margin-top: 13px;
  opacity: 0.75;
  font-size: 16px;
  font-weight: 500;
  color: #506b80;
  white-space: pre-line;
  text-align: center;
}

.passbase {
  margin: 30px 40px;
  height: 25px;
}

.hosted-link-button {
  background-color: #000;
  border: none;
  color: #eee; 
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}
